<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Enter City" name="cityName " [(ngModel)]='city'>
  </form>
</div>
<div class="container" *ngIf="weatherdata">
  <div class="upperdata">
    <img src="../assets/spring.jpg" *ngIf="weatherdata.current_observation.condition.temperature >15">
    <img src="../assets/cold.jpg" *ngIf="weatherdata.current_observation.condition.temperature<=15">
    <div class="weather-data">
      <div class="location">{{ weatherdata.location.city }}</div>
      <div class="temperature">{{ weatherdata.current_observation.condition.temperature | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lowerdata">
    <div class="info">More Information
    </div>
    <div class="more-info">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png">
          <span>min</span>
        </div>

        <div class="info-block-value">{{weatherdata.forecasts[0].low}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer.png">
          <span>max</span>
        </div>

        <div class="info-block-value">{{weatherdata.forecasts[0].high}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>

        <div class="info-block-value">{{weatherdata.current_observation.atmosphere.humidity}}</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">{{weatherdata.current_observation.wind.speed}}km/h</div>

      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>